{% extends "booking_system/base.html" %}

{% block content %}

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/booking_system/t_booking_list">Bookings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>
<div style="margin-left: 1%;">
    
    <p>Booking_list:</p>
    <ul>
        {% for booking in bookings %}
        <li>{{ booking.room.name }}</li>
        {% endfor %}
    </ul>

</div>

{% endblock %}