{% extends "booking_system/base.html" %}

{% block content %}

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/booking_system/t_booking_list">Bookings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/booking_system/t_room_list">Rooms</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>
<div style="margin-left: 1%;">

    <div class="w-50 p-3">
        <h1 class="text-primary">Bookings'_list:</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">booking</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td class="text-info">
                        {{ booking }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% endblock %}